$color-top-menu-bg: #333;
$color-main-bg:     #fefcfa;


#top-menu {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
  background: $color-top-menu-bg;
  z-index: 1;
  position: relative;
}

#header {
  background: radial-gradient(circle at 1.98% 20.98%, #e67d39, transparent 100%), radial-gradient(circle at 98.02% 20.98%, #169, transparent 100%), radial-gradient(circle at 50% 50%, #47cfde, #7c9894 100%);
  padding: 10px 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: white;
  min-height: 1em;

  h1 {
    padding-bottom: 20px;
    color: white;
  }
}

#main {
  background-color: $color-main-bg;
}

#content {
  padding: 25px;
  background-color: $color-main-bg;
  box-sizing: border-box;
  width: 81%;
}

#sidebar {
  padding-left: 17px;
  padding-right: 17px;
  width: 19%;
  box-sizing: border-box;
  font-size: 0.93em;

  h3 { color: #333; }
}

// Fix a problem that underlines is broken in chrome
a:hover, a:active {
  outline: 1px solid transparent;
}
